<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="mongodb://localhost:"/>
		<add key="DatabaseName" value="ExcelToDB"/>
		<add key="CollectionName" value="ExcelData"/>
		<add key="Username" value=""/>
		<add key="Password" value=""/>
		<add key="Port" value="27017"/>
	</appSettings>
</configuration>